<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>결제 test</title>
</head>
<body>

 <div>
     <div>
     결제 금액 : <input type="text" id="amount">
     </div>
     <div>
         결제 수단 :
         <input type="radio" name="payment" id="kakaopay"><label for="kakaopay">카카오페이</label></input>
<!--         <input type="radio" name="payment" id="html5_inicis"><label for="html5_inicis">이니시스</label></input>-->
<!--         <input type="radio" name="payment" id="tosspayments"><label for="tosspayments">토스페이</label></input>-->
<!--         <input type="radio" name="payment" id="naverpay"><label for="naverpay">네이버페이</label></input>-->
<!--         <input type="radio" name="payment" id="ksnet"><label for="ksnet">카드결제</label></input>-->
<!--         <input type="radio" name="payment" id="danal_tpay"><label for="danal_tpay">다날</label></input>-->
<!--         <input type="radio" name="payment" id="payco"><label for="payco">payco</label></input>-->
     </div>
     <br>
     <button onclick="requestPayment()">결제하기</button>
 </div>


 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- <script src="https://cdn.portone.io/v2/browser-sdk.js"></script> // 포트원 SDK _ CDN 방식-->
 <script src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script> <!--포트원 SDK _ CDN 방식-->
<!-- <script src="https://cdn.iamport.kr/v1/iamport.js"></script>-->
 <script>
     const IMP = window.IMP;
     IMP.init("imp80318134");

     let amount = $("#amount");
     // let payment = '"' + $('input:radio[name="payment"]:checked').attr('id') + '"';

    function requestPayment(){
        IMP.request_pay( // IMP.request_pay(param, callback)로 결제창 호출
            {
                pg: "kakaopay",
                pay_method : "card",
                merchant_uid: "order_no_0005", // 상점에서 관리하는 주문 번호
                name : "고전적물병",
                amount : amount,
                buyer_email : "beekeepers202311@gmail.com",
                buyer_name : "금일벌",
                buyer_tell : "010-1234-1234",
                buyer_addr : "서울시어쩌구 말벌아저씨네",
                buyer_postcode : "010010",
                // m_redirect_url : "", // 모바일 결제 이후 리다이렉션 url,
                custom_message : "haggle의 결제페이지입니다"
            },
            function(rsp){ // callback로직
                if(rsp.success){
                    console.log("결제성공 rsp = " + JSON.stringify(rsp));
                    //[1] 서버단에서 결제정보 조회를 위해 jQuery ajax로 imp_uid 전달하기
                    jQuery.ajax({
                        url : "/payment/complete",
                        method : "POST",
                        dataType : 'json',
                        headers : {"Content-Type" : "application/json", "charset" : "UTF-8"},
                        data : JSON.stringify({
                            "payment_uid" : rsp.imp_uid, // 결제 고유번호 imp_988262331365
                            "order_uid" : rsp.merchant_uid // 주문번호 order_no_0003
                        })
                    }).done(function(response){
                        //[2] 서버에서 REST API로 결제정보확인 및 서비스루틴이 정상적인 경우
                        console.log("결제완료. 결제 정보 : " + response);
                        if (everythings_fine){
                            // 가맹점 서버 결제 API 성공시 로직
                            alert('결제가 완료되었습니다.' + rsp);
                            window.location.href = "/payment/successPayment"; //  성공시 이동 url
                        } else {
                        //[3] 아직 제대로 결제가 되지 않았습니다.
                        //[4] 결제된 금액이 요청한 금액과 달라 결제를 자동취소처리하였습니다.
                    }
                    });
                } else {
                    alert("결제가 실패하였습니다. 다시 시도해주세요." + rsp.error_msg);
                }
            }
        )};


    // 주문번호 생성
    function makeMerchantUid(){
        $.ajax({
            url : "/payment/getMerchantUid",
            method : "POST",
            dataType: 'json',
            success : function (data){
                alert(data);
            },
            error : function (data){
                alert(data.error);
            }
        })
    }


</script>
</body>
</html>