<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>문의글 작성 페이지</title>
    <link rel="stylesheet" href="/css/ckEditor/style.css">
</head>
<body>
문의글을 작성해주세요.
<div>
    <div class="main-container">
        <div class="editor-container editor-container_classic-editor" id="editor-container">
            <div class="editor-container__editor"><div id="editor"></div></div>
        </div>
    </div>
</div>
<script type="module" src="/js/ckEditor/main.js"></script>
</body>
</html>