@font-face {
  font-family: "NaunumSquareRoundR";
  src: url("./assets/fonts/nanum-square-round/NanumSquareRoundR.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "NanumSquareRoundR";
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
